::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 70vh;
    background: #DDD;
    margin: 50px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
}

.tabs {
    padding: 5px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 3px;
    background: orangered;
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.content {
    background: white;
    padding: 20px;
    width: 96%;
    height: 100%;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100%;
    height: 1px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

.principal-center {
    flex-direction: column;
    align-items: center;
}

.esconderIcone{
    display: none !important;
}

.titulo-secao{
    font-size: 2.2rem;
    background: linear-gradient(to right,  rgb(253, 144, 104), 20%, rgb(250, 119, 71), orangered);
    background-clip: text;
    color: transparent;
}