::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 56% !important;
    padding: 0 !important;
    height: fit-content;
    background: #DDD;
    margin: 10px auto 10px;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
}

.tabs {
    padding: 5px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 3px;
    background: orangered;
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 90%;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100%;
    height: 1px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

.principal-center {
    flex-direction: column;
    align-items: center;
}

.esconderIcone {
    display: none !important;
}

.titulo-secao {
    font-size: 2.2rem;
    background: linear-gradient(to right, rgb(253, 144, 104), 20%, rgb(250, 119, 71), orangered);
    background-clip: text;
    color: transparent;
}

.btnDiv {
    flex-direction: column;
    align-items: center;
}

.btnDiv2 {
    flex-wrap: wrap;
}

.container2{
    margin: 20px 0 55px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.centro{
    align-self: center;
    margin-bottom: 10px;
}
.divTools{
    margin: 30px 0;
}
.divImageTools{
    width: 56%;
    height: 57%;
    float: right;
    margin: 0 0 0 20px;
}
.divImageToolsLeft{
    width: 67%;
    height: 57%;
    float: left;
    margin: 0 20px 0 0;
}
.imgTools{
    height: 100%;
    width: 100%;
}
.divToolsBtn{
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}
.logoOnTheLeft{
    float: left;
    margin: 0 15px 15px 0;
}
.logoOnTheRight{
    float: right;
    margin: 0 0 15px 15px;
}
.divToolsLinks{
    margin: 15px 0;
}
.divToolsLinks a{
    font-size: 1rem;
    text-decoration: none;
    color: orangered;
}
.divToolsLinks a:hover{
    text-decoration: underline #000;
    font-weight: bold;
    color: black;
}
.divToolsLinks a:hover span{
    color: #000;
}

.divWithCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.divCard{
    border: 3px solid;
    border-color: #ffba00 #01a543 #0927eb #ff2e00;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    margin: 10px;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
}
.item-carousel{
    display: flex;
}
.item-carousel-mobile{
    display: none;
    width: 100%;
}
.item-carousel-web{
    display: block;
    width: 100%;
}
.divCardBtn{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.card-bootstrap{
    width: 82%;
}

.img-bootstrap{
    width: 100% !important;
    height: 310px !important;
}

.btn-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.outras-ferramentas{
    width: 90%;
    padding: 0 20px;
}

.hh{
    height: 100% !important;
}

.uu{
    margin-bottom: 70px;
}

@media (max-width: 1154px){
    .container{
        width: 90% !important;
    }
    .item-carousel-mobile{
        display: block !important;
        width: 100%;
    }
    .item-carousel-web{
        display: none !important;
        width: 100%;
    }
    .outras-ferramentas{
        width: 100% !important;
        padding: 0 10px !important;    
    }
}