.btn-topo{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: grey;
    border-radius: 27px;
    padding: 3px;
    box-shadow: 0 0 10px black;
}
.btn-topo i{
    font-size: 40px;
    color: #FFF;
}
.btn-topo:hover{
    background-color: orangered !important;
}

@media (max-width: 1154px){
    .btn-topo{
        bottom: 70px !important;
        right: 20px;
    }
}