.logo{
    height: 100px;
    margin: 0 7% 0 7%;
}

.navigationbar{
    align-items: center;
}

.nav-items{
    list-style: none;
    height: fit-content;
    width: 40%;
    flex-wrap: wrap;
}

.nav-items a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}

.titulo{
    color: orangered;
    letter-spacing: 1px;
    text-align: center;
}

.no-mobile{
    display: flex;
}

.mobile{
    display: none;
}

@media (max-width: 1154px){
    .no-mobile{
        display: none !important;
    }
    .mobile{
        display: flex;
    }
    
    .nav-items{
        flex-direction: column;
        background-color: #DDD;
        padding: 17px;
        width: 86% !important;
        position: fixed;
        z-index: 1000;
        bottom: 47px;
    }

    .titulo{
        width: fit-content !important;
        margin: 0 !important;
        padding: 0 !important
    }

    .bt-menu-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 92% !important;
        position: fixed;
        bottom: 10px;  
        z-index: 1100;
        background-color: #EEE;
        padding: 10px 5px;
    }

    .bt-menu{        
        height: fit-content;
    }

    .bt-menu i{        
        font-size: 24px;
    }

    .bt-menu i:hover{        
        color: orangered;
    }

    .nav-items > a{
        margin-bottom: 7px;
        font-size: 1.25rem;
    }
}