.logo{
    height: 100px;
    margin: 0 7% 0 7%;
}

.navigationbar{
    align-items: center;
}

.nav-items{
    list-style: none;
    height: fit-content;
    width: 40%;
    flex-wrap: wrap;
}

.nav-items a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}