a{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #000;
    text-decoration: none;
}

a:hover{
    color: orangered !important;
}

p{
    font-size: 1.2rem;
}

.center{
    display: flex;
    justify-content: center;
}